!!!
%html
    %head
        %title= title
        %meta{:charset => 'UTF-8'}
        %meta{:name => 'description', :content => 'text/html'}
        / %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
        %link{:href => '/css/kickstart.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/kickstart-grid.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/kickstart-forms.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/style.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/status.css', :rel => 'stylesheet', :type => 'text/css'}
    %body.elements
        %div{:id => 'wrap', :class => 'clearfix'}
            =yield

